@import 'tailwindcss';

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }

  #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    font-family:
      -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family:
      source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  }
}

.bg-white {
  background-color: #fff;
}

.C-shape-note {
  background-color: var(--color-red-500);
  color: #fff;
  border-color: var(--color-red-500);
}
.C-shape-note-root {
  color: var(--color-red-500);
  background-color: #fff;
}
.A-shape-note {
  background-color: var(--color-blue-500);
  color: #fff;
  border-color: var(--color-blue-500);
}
.A-shape-note-root {
  color: var(--color-blue-500);
  background-color: #fff;
}
.G-shape-note {
  background-color: var(--color-cyan-500);
  color: #fff;
  border-color: var(--color-cyan-500);
}
.G-shape-note-root {
  color: var(--color-cyan-500);
  background-color: #fff;
}
.E-shape-note {
  background-color: var(--color-green-500);
  color: #fff;
  border-color: var(--color-green-500);
}
.E-shape-note-root {
  color: var(--color-green-500);
  background-color: #fff;
}
.D-shape-note {
  background-color: var(--color-yellow-500);
  color: #fff;
  border-color: var(--color-yellow-500);
}
.D-shape-note-root {
  color: var(--color-yellow-500);
  background-color: #fff;
}
